.cell {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.input {
    max-width: 300px;
    margin: auto;
}