.NavBarReplace {
    margin-bottom: calc(56px + 15px);
}

.NavBar {
    min-height: 56px;
    justify-content: space-between;
}

.navBarCollapse {
    flex-grow: 0;
    min-width: 100px;
}

.navBrand {
    color: inherit;
    opacity: 0.8;
}

.navBrand:hover {
    opacity: 1;
    color: inherit;
    text-decoration: none;
}