.card {
    margin-bottom: 1rem;
    min-width: 175px;
    max-width: 200px;
    font-size: 0.9rem;
    float: left;
}

.badge {
    position: absolute;
    right: 0;
    top: 0;
}

.imageContainer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cardImage {
    width: auto;
    max-height: 100%;
    height: 100%;
}

.cardBody {
    padding: 1rem;
}

.cardTitle {
    font-weight: 700;
    text-align: left;
    position: relative;
}

.description {
    margin-bottom: 0.5rem;
}

.label {
    font-weight: 550;
    color: var(--gray);
}

.noMoreItems {
    margin-bottom: 0.5rem;
    color: var(--gray-dark);
    float: right;
    font-weight: 800;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}